/* Green color pallet main color #008400 and light to dark #2DB42D, #0E9D0E, #006900, #004700 */

/* Body styling */
/* font-family: 'Roboto', sans-serif;  */

body {
  background-color: #008400;
  background-color: hsla(10,10%,10%,0.5);
 }

h1, h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #004700;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

nav {
	padding: 5px;
	float: right;
	clear: both;
}

a:link {
  color: #004700;
  text-decoration: underline;
}

a:visited {
  color: #2DB42D;
}

hr {
  border-width: 2px;
  border-color: #0E9D0E;
}


/* from patterns css */
.horizontal {
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	font-size: 22px;
	font-weight: 500;
	display: inline;
}

.center {
	text-align: center;
}

img {
	border: 4px solid #0E9D0E;
	margin: 5 5 5 5;
}

.artist {
	height: 220px;
	width: 170px;
	float: left;
}

a.noLine {
	text-decoration: none;
}

figcaption {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
